<div class="jumbotron">
    <h1>Blocipedia</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Learn Anything and Everything</h2>
        <p>Blocipedia is your resource to learn anything your heart could imagine.</p>
    </div>
    <div class="col-md-6">
        <h2>Teach Everyone</h2>
        <p>Blocipedia allows you to share your knowledge with the world.</p>
    </div>
</div>
