<h4>Downgrade Your Account</h4>
<p>By hitting this button, you will be downgraded to a standard user and will no longer be able to create or view private wikis. All of your private Wikis will become public.</p>


<div class="form-group">
    <%= link_to "Downgrade", charges_update_path, method: :post, class: 'btn btn-danger', data: {confirm: 'By downgrading, all private Wikis that you have created will become public. Are you sure you want to downgrade?'} %>
</div>
