<h4>Downgrade Your Account</h4>
<p>By hitting this button, you will be downgraded to a standard user and will no longer be able to create or view private wikis.</p>


<div class="form-group">
    <%= button_to "Downgrade Account", charges_path, class: 'btn btn-success' %>
</div>
